<ng-container>
  <ul>
    <li *ngIf="webRTCService.producer">{{webRTCService.producer.username}} - {{webRTCService.producer.id}}</li>

    <ng-container *ngFor="let producer of webRTCService.producers | keyvalue">
      <li>
        {{producer.value.username}} - {{producer.value.id}}
        <mat-slider [min]="GAIN.MIN_VALUE" [max]="GAIN.MAX_VALUE" showTickMarks discrete>
          <input matSliderThumb
                 [ngModel]="producer.value.gainNode?.gain?.value"
                 (ngModelChange)="webRTCService.updateGain(producer.key, $event)"
          >
        </mat-slider>
      </li>
    </ng-container>
  </ul>

  <div class="d-flex align-center">
    <mat-icon class="mr-1 pointer" (click)="webRTCService.muteToggle()" *ngIf="!webRTCService.soundMuted">
      volume_up
    </mat-icon>
    <mat-icon class="mr-1 pointer" (click)="webRTCService.muteToggle()" *ngIf="webRTCService.soundMuted">
      volume_off
    </mat-icon>

    <mat-slider [min]="GAIN.MIN_VALUE" [max]="GAIN.MAX_VALUE" showTickMarks discrete>
      <input matSliderThumb
             [ngModel]="webRTCService.masterGain"
             (ngModelChange)="webRTCService.updateMasterGain($event)"
      >
    </mat-slider>
  </div>
</ng-container>
